<!DOCTYPE html>
<html>
  <head>
    <title>HotDog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render template: "layouts/_header" %>
    <%= yield %>
  </body>
</html>
